:host {
	min-height: 100vh;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

[hidden] {
	display: none!important;
}

:host:after {
	content: '';
}
:host.dragover:after {
	content: '⎗';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 20vh;
	height: 20vh;
	z-index: 2;
	font-size: 20vh;
	text-align: center;
	line-height: 20vh;
	display: block;
}

:host.dragover:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	border: .2rem dashed;
	z-index: 1;
	display: block;
}

:host.dragover .source {
}

.source {
	margin: 0;
	padding: 0;
	position: absolute;
	top: .5rem;
	left: .75rem;
	display: block;
	line-height: 1.5rem;
	font-size: .9rem;
	max-width: 100%;
	border: none;
	box-shadow: none;
	outline: none;
	fill: currentColor;
}
.source-input {
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
	vertical-align: baseline;
	line-height: 1rem;
	height: 1rem;
	font-size: .9rem;
	max-width: 100%;
	border: none;
	box-shadow: none;
	font-weight: bolder;
	outline: none;
	background: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	box-shadow: 0 2px;
	color: inherit;
}
.source-input:focus{
	outline: none;
}
.source-input-file {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	border: none;
	cursor: pointer;
}
.source-input-url {
	font-family: sans-serif;
	font-weight: bold;
	min-width: 40vw;
}
.source-input-url:focus {
}
input[type=file],
input[type=file]::-webkit-file-upload-button {
	cursor: pointer;
}
i {
	fill: currentColor;
}
.source i {
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	position: relative;
}
.source i svg {
	margin-bottom: -.52rem;
}
i svg {
	max-width: 100%;
	max-height: 100%;
}
.source-link {
	position: relative;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 0px 2px;
	white-space: nowrap;
	cursor: pointer;
}

.text-length-limiter {
	display: inline-block;
	max-width: 50%;
	vertical-align: top;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.source-title {
	display: inline;
}

.fps {
	position: fixed;
	top: .5rem;
	right: .75rem;
	line-height: 1.5rem;
	font-size: .9rem;
}


.fps-canvas {
	height: 1rem;
	width: 2rem;
	display: inline-block;
	vertical-align: baseline;
	margin-right: .15rem;
	margin-bottom: -.15rem;
}

.fps-text {
}

.fps-value {
}

.audio-playback {

}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	height: .2rem;
	background: currentColor;
	transition: .1s linear width;
}

@media (max-width: 640px) {
	.text-length-limiter {
		max-width: 30%;
	}
	.source {
		right: .75rem;
		text-align: center;
	}
	.fps {
		top: auto;
		bottom: .5rem;
		right: .75rem;
		left: .75rem;
		text-align: center;
	}
}