:host {
	min-height: 100vh;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

[hidden] {
	display: none!important;
}

:host:after {
	content: '';
}
:host.dragover:after {
	content: '⎗';
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 20vh;
	height: 20vh;
	z-index: 2;
	font-size: 20vh;
	text-align: center;
	line-height: 20vh;
	display: block;
}

:host.dragover:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	border: .2rem dashed;
	z-index: 1;
	display: block;
}

:host.dragover .source {
}

:host.dragover .audio-stop,
:host.dragover .audio-playback {
	display: none;
}

.source, .status {
	margin: 0;
	padding: 0;
	position: fixed;
	top: .75rem;
	left: .75rem;
	display: block;
	line-height: 1.5rem;
	font-size: .9rem;
	max-width: 100%;
	border: none;
	box-shadow: none;
	outline: none;
	fill: currentColor;
	z-index: 999;
}
.source-input {
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
	vertical-align: baseline;
	line-height: 1rem;
	height: 1rem;
	font-size: .9rem;
	max-width: 100%;
	width: 82%;
	border: none;
	box-shadow: none;
	font-weight: bolder;
	outline: none;
	background: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	box-shadow: 0 2px;
	color: inherit;
}
.source-input:focus{
	outline: none;
}
.source-input-file {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	border: none;
	cursor: pointer;
}
.source-input-url {
	font-family: sans-serif;
	font-weight: bold;
	min-width: 40vw;
}
.source-input-url:focus {
}
input[type=file],
input[type=file]::-webkit-file-upload-button {
	cursor: pointer;
}
i {
	fill: currentColor;
	width: 1.5rem;
	height: 1.5rem;
	position: relative;
	display: inline-block;
	font-style: normal;
	vertical-align: top;
}
.source i {
}
.source i svg {
	margin-bottom: -.52rem;
}
i svg {
	max-width: 100%;
	max-height: 100%;
}
.source-link {
	position: relative;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 0px 2px;
	white-space: nowrap;
	cursor: pointer;
}

.text-length-limiter {
	display: inline-block;
	max-width: 40vw;
	vertical-align: top;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.source-title {
	display: inline;
	word-break: break-all;
}

.status {
	left: auto;
	right: .75rem;
}

.fps {
	display: inline-block;
}

.fps-canvas {
	height: 1rem;
	width: 2rem;
	display: inline-block;
	margin-right: .15rem;
	margin-bottom: -.15rem;
}

.fps-text {
}

.fps-value {
}

.params-button {
    position: relative;
    display: inline-block;
    margin-left: .5rem;
}
.github-link {
	z-index: 999;
    position: fixed;
    bottom: .75rem;
    right: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
}

.audio-playback, .audio-stop {
	display: inline-block;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	height: .2rem;
	background: currentColor;
	transition: .1s linear width;
	z-index: 999;
}

@media (max-width: 42rem) {
	.text-length-limiter {
		max-width: 30%;
	}
	.source {
		right: .75rem;
		text-align: center;
	}
	.status {
		top: auto;
		bottom: .75rem;
		right: .75rem;
		left: .75rem;
		text-align: center;
	}
}


.params {
	background: linear-gradient(to bottom, rgba(255,255,255,.75), white);
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	padding: .5rem 0 .5rem .75rem;
	line-height: 1.5;
	max-height: 82vh;
	max-width: 100%;
	z-index: 999;
}
.params-close {
	position: absolute;
	top: 0;
	right: 0;
	height: 2rem;
	width: 2rem;
	text-align: center;
	line-height: 2rem;
	font-size: 1rem;
}

.param {
	height: 2rem;
	width: 15rem;
	margin-right: 2.25rem;
	float: left;
}

@media (max-width: 42rem) {
	.params {
		bottom: 2.5rem;
		padding-right: 2.25rem;
	}
	.param {
		margin-right: 0;
		width: 100%;
		float: none;
	}
}

.param-label {
	font-size: .75rem;
	display: inline-block;
	width: 33.3%;
	line-height: 2rem;
	height: 2rem;
	vertical-align: top;
	text-align: right;
	padding-right: 1rem;
}
.param-input {
	width: 66.6%;
	height: 2rem;
	color: inherit;
	border: 0;
	padding: 0 0;
	margin: 0;
	font-size: 1rem;
	background: none;
	/*border-radius: 0;*/
	/*appearance: none;*/
	/*-webkit-appearance: none;*/
}
.param-range::-webkit-slider-thumb,
.param-range::-moz-range-thumb {
	width: 2rem;
	height: 2rem;
}
.param-checkbox {
	width: 1.5rem;
	height: 1.5rem;
	margin-top: .25rem;
}
@media (max-width: 42rem) {
	.param-checkbox {
		border: 1px solid;
	}
}

.param-select {
}

.param-range {
}